.topnav {
  background-color: #7CA784;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #00120B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
  font-family: helvetica;
}

.topnav a:hover {
  background-color: #EDF4ED;
  color: #00120B;
}

.topnav a.active {
  background-color: #00120B;
  color: #EDF4ED;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 5%;
}

.flex-child {
  margin-bottom: 10%;
  width: 550px;
  border-radius: 8px;
  align-self: flex-start;
}

#category-color {
  display: none;
}
