.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 5%;
}

.flex-child {
  margin-bottom: 10%;
  width: 550px;
  border-radius: 8px;
  align-self: flex-start;
}

#category-color, #category-color-label {
  display: none;
}
