<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="../style.css" rel="stylesheet" type="text/css" />
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../node_modules/bootstrap/dist/css/adminlte.min.css" rel="stylesheet" />
    <script defer src="../node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
  </head>
  <body class="sidebar-mini layout-fixed layout-navbar-fixed">
    <div class="wrapper">
      <div id="sidebar">
      </div>
      <div class="content-wrapper px-4 py-5">
        <div class="content px-2">
          <div class="row">
            <div class="col-12">
              <div class="card card-olive">
                <div class="card-header navbar navbar-expand">
                  <h5>Portfolio</h5>
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <button type="button" class="btn btn-light btn-sm" id="new-trade"><i class="fas fa-plus"></i></button>
                    </li>
                  </ul>
                </div>
                <div class="card-body table-responsive p-0">
                  <table id="positions-table" class="table table-sm table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>Ticker Symbol</th>
                        <th>Shares</th>
                        <th>Balance</th>
                        <th>Current Price</th>
                        <th>Avg. Purchase Price</th>
                        <th>Growth</th>
                        <th>% Change</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody id="table-body">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script src="../JavaScript/portfolio.js"></script>
  </body>
</html>
