<aside class="main-sidebar sidebar-dark-primary sidebar-olive elevation-4">
  <a href="dashboard.html" class="brand-link">
    <span class="brand-text font-weight">Personal Finance Tracker</span>
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
        <li class="nav-item">
          <a href="dashboard.html" class="nav-link">
            <i class="nav-icon fas fa-chart-line"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="categories.html" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>Categories</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="transactions.html" class="nav-link">
            <i class="nav-icon fas fa-receipt"></i>
            <p>Transactions</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="balances.html" class="nav-link">
            <i class="nav-icon fas fa-landmark"></i>
            <p>Balances</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="retirement.html" class="nav-link">
            <i class="nav-icon fas fa-piggy-bank"></i>
            <p>Retirement</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
